#root {
  padding: 3em;
}

#root, .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 2em;
}

.square {
  height: 200px;
  width: 200px;
  box-sizing: border-box;;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  background-color: #E6145C;
  color: white;
}

.square:hover {
  cursor: pointer;
  background-color: #1A85FF;
}
